// Font family
$roboto: 'Roboto', sans-serif;
$colfax: 'Colfax', sans-serif;

// Font sizes
$small-font-size: 14px;
$regular-font-size: 18px;
$big-font-size: 20px;
$title-category-font-size: 25px;
$section-title-font-size: 30px;
$block-title-font-size: 40px;

// Colors
$black: #000;
$white: #fff;
$white-dirty: #fafafa;
$white-dark: #e1e1e1;
$gray: #6a7b84;
$gray-light: #b1b9bf;
$blue: #0075ba;
$blue-light: #0fb9ee;
$blue-dark: #0074b9;
$blue-dirty: #00588d;
$blue-featured: #0c93bd;
$green: #6f9b3c;
$green-light: #7aaa42;
$green-dark: #5b7f31;
$purple: #4d4285;
$purple-dark: #24176b;
$purple-light: #6b5cb9;
$yellow: #d3d365;
$pink: #eb5d61;
$red: #db2153;
