html {
  overflow-x: hidden;
}

body {
  font-size: $regular-font-size;
  font-weight: 500;
  color: $black;
  margin: 0 !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  position: relative;
  overflow-x: hidden;
}

.content {
  margin: 0 auto;
  max-width: 1360px;
  padding: 0 15px;

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

h1 {
  font-size: $block-title-font-size;
  font-weight: 800;

  @include media-breakpoint-down(lg) {
    font-size: $section-title-font-size;
  }
}

h2 {
  font-size: $section-title-font-size;
  font-weight: 500;

  @include media-breakpoint-down(lg) {
    font-size: $title-category-font-size;
  }
}

h3 {
  font-size: $title-category-font-size;
  font-weight: 500;

  @include media-breakpoint-down(lg) {
    font-size: $big-font-size;
  }
}

h4 {
  font-size: $big-font-size;
  font-weight: 500;
  text-transform: uppercase;
}

h5 {
  font-size: $big-font-size;
  font-weight: 300;
}

h6 {
  font-size: $small-font-size;
  font-weight: 800;
  text-transform: uppercase;
}

p {
  line-height: 2;
  margin-bottom: 16px;
  font-size: $regular-font-size;
}

ul {
  list-style: disc;
  //margin: 0;
  //padding: 0;
}

a,
svg {
  transition: all .3s ease;
}

input,
textarea,
select {
  color: $black;
  font-size: $regular-font-size;
  font-weight: 300;
}

.white-text {
  color: $white;
}

.default-section {
  padding: 110px 0;

  @include media-breakpoint-down(lg) {
    padding: 50px 0;
  }
  
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.gray-bg {
  background: $white-dirty;
}

.section-title-centered {
  h1 {
    text-align: center;
  }
}

.customers__nav-slider-js,
.customers__slider-js {
  overflow: hidden;
  visibility: hidden;

  .slick-slide {
    display: none;

    &:focus {
      outline: none;
    }
  }

  .slick-slide:first-of-type {
    display: block;
  }

  &.slick-initialized {
    overflow: visible !important;
    visibility: visible;

    .slick-slide {
      display: block !important;
    }
  }
}

.button-default {
  display: inline-block;
  font-size: $big-font-size;
  font-weight: 700;
  color: $white;
  line-height: 1;
  padding: 13px 15px 12px;
  border-radius: 10px;
  text-align: center;

  @include media-breakpoint-down(lg) {
    font-size: $regular-font-size;
  }

  &:hover {
    color: $white;
    text-decoration: none;

    .fas {
      color: $white;
    }
  }

  .fas {
    color: $blue-light;
    margin-right: 5px;
  }

  &--blue {
    background-color: $blue;

    &:hover {
      background-color: $blue-light;
    }
  }

  &--white {
    background-color: $white;
    color: $black;

    &:hover {
      background-color: $blue-light;
    }
  }

  &--purple {
    background-color: $purple;

    &:hover {
      background-color: $purple-light;
    }
  }
}

//a {
//font-size: $regular-font-size;
//color: $blue;
//font-weight: 500;
//text-decoration: underline;
//
//&:hover {
//  color: $blue;
//  font-weight: 600;
//}
//}