.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-PlayButton-icon {
  font-size: (80 / 16) * 1rem;
  width: (80 / 80) * 1em;
}

.icon-Q-icon {
  font-size: (151.92 / 16) * 1rem;
  width: (166.37 / 151.92) * 1em;
}

.icon-area-1 {
  font-size: (147.43 / 16) * 1rem;
  width: (182.58 / 147.43) * 1em;
}

.icon-area-2 {
  font-size: (141.49 / 16) * 1rem;
  width: (202.59 / 141.49) * 1em;
}

.icon-area-3 {
  font-size: (143.2 / 16) * 1rem;
  width: (201.76 / 143.2) * 1em;
}

.icon-benefit-1 {
  font-size: (173.94 / 16) * 1rem;
  width: (218.87 / 173.94) * 1em;
}

.icon-benefit-2 {
  font-size: (200.2 / 16) * 1rem;
  width: (215.01 / 200.2) * 1em;
}

.icon-benefit-3 {
  font-size: (176.54 / 16) * 1rem;
  width: (233.17 / 176.54) * 1em;
}

.icon-benefit-4 {
  font-size: (237.71 / 16) * 1rem;
  width: (206.18 / 237.71) * 1em;
}

.icon-help {
  font-size: (238.7 / 16) * 1rem;
  width: (309.29 / 238.7) * 1em;
}

